.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.landingPage {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  opacity: 0;
  justify-content: space-around;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.landingPageEnter {
  opacity: 1;
  transform: scale(1);
  height: 100%;
  padding: 1rem 1rem;
}

.landingPageExit {
  opacity: 0;
  transform: scale(0.9);
  position: absolute;
  pointer-events: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #333;
  flex: 1;
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
  max-width: 650px;
  margin-bottom: 1.5rem;
}

.dragText {
  font-size: 1.1rem;
  color: #6755a2;
  margin-bottom: 1rem;
}

.selectText {
  color: #6755d0;
  font-weight: 600;
  cursor: pointer;
}

.selectText:hover {
  text-decoration: underline;
}

.uploadInfo,
.uploadOption {
  font-size: 0.9rem;
  color: #666;
  margin-top: 1rem;
}

.analyzeButton {
  background-color: #6755d0;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.analyzeButton:hover {
  background-color: #5545b0;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    padding: 0 10px;
  }

  .subtitle {
    font-size: 0.95rem;
    padding: 0 10px;
  }

  .landingPage {
    gap: 0rem;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 1rem 0.5rem;
  }

  .title {
    font-size: 1.3rem;
    width: 100%;
    word-wrap: break-word;
    padding: 0 5px;
  }

  .uploadArea {
    padding: 1.2rem 0.8rem;
  }

  .analyzeButton {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
  }

  .dragText {
    font-size: 0.9rem;
  }

  .uploadInfo,
  .uploadOption {
    font-size: 0.8rem;
  }
}
